/* Variables_generales */
$altura_pie_de_pagina: 100%;
$ancho_cards_card: 46%;
$altura_cards_card: 200px;
$ancho_cards_card_img: 100px;
$altura_cards_card_img: 100px;
$ancho_contenido_texto_card: 60%;
$ancho_media_900px_cards_card: 90%; 
$altura_media_500px_cards_card: 450px;
$ancho_media_500px_cards_card_img: 90px;
$altura_media_500px_cards_card_img: 90px;
$ancho_imagen_equipo: 24%;
$ancho_imagen_equipo_img: 100%;
$altura_imagen_equipo_img: 100%;
$ancho_hover-galeria: 100%;
$altura_hover_galeria: 100%;
$ancho_hover_galeria_img: 50px;
$ancho_media_900px_imagen_equipo: 44%;
$ancho_media_500px_imagen_equipo: 95%;


